@media screen and ( max-width:767px) {
.addressnew ul{display:block;}
.addressnew ul li{margin-bottom:18px;}
.addressnew ul li{font-size:14px;}
h4.text-white.mb-4{font-size:16px;         margin-top: 16px;}
.footer-item strong span {font-size:14px;}
.car-result{display: block; text-align: center;    padding: 0 14px 15px;}
.car-result .rst-1,.car-result .rst-2,.car-result .rst-3{width:100%;}
.person-all{margin-bottom:10px;}
.car-result .rst-2 h2{font-size:17px;}
.car-result .rst-3 strong{font-size:18px;}
.car-result .rst-3 button{font-size:15px;}
.vehicle-txt {font-size: 16px;display: inline-block;margin: 16px 0 13px;}
.extra-all {display: block;}
.extra-all .addon-services {width: 100%; text-align: center;        margin-bottom: 20px;}
.extra-all .addon-services button{left:0;}
.py-5 {padding-top: 0 !important;}
.extra-all .addon-services h2{font-size:16px;}
.Price-details h2 {
    font-size: 16px;
    color: #222;
    font-weight: 700;
    margin: 0 7px 0;
}
.Price-details .dtl strong {
    font-size: 14px;
    color: #222;
    font-weight: 600;
}
.your-car h2 {
    font-size: 16px;
    margin: 0 7px 0;
}
.extra-all .addon-services img {
    margin-top: 10px;
}
.extra-all .addon-services strong{font-size:16px;}
.footer .footer-item a {
    font-size: 13px;
}
.chk-txt,.Personal h2 {
    font-size: 17px;

}
.Personal .deatls {
    display: block;
}
.Personal .deatls .data-1 {
    width: 100%;
}
.Personal .deatls .data-1 label {
    margin-bottom: 7px;
    margin-top: 7px;
}
.pickup {display: block;}
.mob-hide{display: none;}

.mobile-phone {
        display: block;
        position: absolute;
        right: 20%;
    }
.progress-new{
    width:100%;
}
.progress-new ul{display: block;}
.thankyou h2 {
    font-size: 17px;
    padding: 8px 0 3px;
}
.thankyou p {
    font-size: 13px;
    line-height: 20px;
}
.thankyou {
    height: auto;
    background-position: top;
}
.get-in-touch h2 {
    font-size: 20px;
}
.progress-new ul li h2 {
    font-size: 15px;
    margin: 20px 0 0;
}
.progress-new ul li p {
    color: #000000;
    font-size: 13px;
    font-weight: 500;
    margin-top: 8px;
}
.wide-choice h3 {
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 13px;
}
.wide-choice p {
    font-size: 14px;
}
.cookies-txt h2 {
    font-size: 16px;
    margin: 15px 0 12px;
}

.your-mind .questions {
    height: 100%;
    background-position: right;
}
.your-mind .questions span {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    line-height: 10px;
    display: inline-block;
    margin: 10px 33px 0;
}

.your-mind .questions button {
    float: right;
    margin: 182px 36px 31px;
    background: #001c76;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 5px 24px;
    border-radius: 10px;
}
.your-mind .questions button a{
    color: #fff;
}
.background-home{
    display: none;;
}
.top-serch {
    position: unset;
    margin-top: 0;
    z-index: 99999;
}
.pickup .loc-1.size-1 {width:100%;}
.pickup .loc-1.size-2 {width:100%; margin-left:0%;}
.pickup .loc-1.size-3 {width:100%; margin-left:0%;}
.pickup .loc-1.size-4 {width:100%; margin-left:0%;}
.pickup .loc-1.size-5 {width:100%; margin-left:0%;}
.pickup .loc-1.size-new-1 {width:100%;}
.pickup .loc-1.size-new-2 {width:100%; margin-left:0%;}
.pickup .loc-1.size-new-3 {width:100%; margin-left:0%;}
.pickup .loc-1.size-new-4 {width:100%; margin-left:0%;}




}